<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.happyhouse.email.model.mapper.AptDetailMapper">
<select id="getAptDetail" parameterType="string"
		resultType="hashmap">
		select *
		from aptinfo left join aptdetail
		on aptinfo.aptCode = aptdetail.aptCode
		where aptinfo.aptCode = #{aptCode}
	</select>
</mapper>