<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.ssafy.happyhouse.apt.model.mapper.AptMapper">
	<select id="selectGugunCode" resultType="string">
		select gugunCode from guguncode where left(guguncode, 2) >= 41
	</select>
	
	<insert id="insertApt">
		insert into apt(aptCode, aptName, sidoName, gugunName, dongName,
		leeName, dongCode)
		VALUES
		<foreach collection="aptList" item="apt" separator=",">
			(
			#{apt.aptCode}, #{apt.aptName}, #{apt.sidoName}, #{apt.gugunName},
			#{apt.dongName},
			#{apt.leeName}, #{apt.dongCode} )
		</foreach>
		ON DUPLICATE KEY UPDATE
		aptName = values(aptName), sidoName =
		values(sidoName), gugunName = values(gugunName), dongName =
		values(dongName), leeName = values(leeName), dongCode =
		values(dongCode)
	</insert>

	<insert id="insertAptInfo">
		insert into aptinfo(aptCode, aptAddr, codeSaleNm, codeHeatNm,
		aptTarea,
		aptDongCnt, aptdaCnt, aptTel, aptFax, aptUrl, codeAptNm,
		doroJuso, hoCnt, codeMgrNm, codeHallNm, aptUsedate, aptMarea,
		aptMparea_60,
		aptMparea_85, aptMparea_135, aptMparea_136, privArea)
		VALUES
		<foreach collection="aptList" item="apt" separator=",">
			(
			#{apt.aptCode}, #{apt.aptAddr}, #{apt.codeSaleNm}, #{apt.codeHeatNm},
			#{apt.aptTarea},
			#{apt.aptDongCnt}, #{apt.aptdaCnt}, #{apt.aptTel},
			#{apt.aptFax}, #{apt.aptUrl}, #{apt.codeAptNm}, #{apt.doroJuso},
			#{apt.hoCnt}
			, #{apt.codeMgrNm}, #{apt.codeHallNm}, #{apt.aptUsedate},
			#{apt.aptMarea}, #{apt.aptMparea_60}, #{apt.aptMparea_85},
			#{apt.aptMparea_135}, #{apt.aptMparea_136}
			, #{apt.privArea} )
		</foreach>
		ON DUPLICATE KEY UPDATE
		aptAddr = values(aptAddr), codeSaleNm =
		values(codeSaleNm), codeHeatNm = values(codeHeatNm), aptTarea =
		values(aptTarea), aptDongCnt = values(aptDongCnt), aptdaCnt =
		values(aptdaCnt),
		aptTel =
		values(aptTel), aptFax = values(aptFax),
		aptUrl = values(aptUrl),
		codeAptNm =
		values(codeAptNm), doroJuso =
		values(doroJuso), hoCnt = values(hoCnt),
		codeMgrNm =
		values(codeMgrNm),
		codeHallNm = values(codeHallNm), aptUsedate = values(aptUsedate),
		aptMarea =
		values(aptMarea), aptMparea_60 = values(aptMparea_60),
		aptMparea_85 = values(aptMparea_85),
		aptMparea_135 =
		values(aptMparea_135), aptMparea_136 = values(aptMparea_136), privArea
		= values(privArea)
	</insert>

	<insert id="insertAptDetail">
		insert into aptdetail(aptCode, codeGarbage, aptdEcnt, aptdPcnt,
		aptdPcntu,
		codeNet, aptdCccnt, welfareFacility, aptdWtimebus,
		subwayLine, subwayStation,
		aptdWtimesub, convenientFacility,
		educationFacility)
		VALUES
		<foreach collection="aptList" item="apt" separator=",">
			(
			#{apt.aptCode}, #{apt.codeGarbage}, #{apt.aptdEcnt}, #{apt.aptdPcnt},
			#{apt.aptdPcntu},
			#{apt.codeNet}, #{apt.aptdCccnt},
			#{apt.welfareFacility},
			#{apt.aptdWtimebus}, #{apt.subwayLine},
			#{apt.subwayStation}, #{apt.aptdWtimesub},
			#{apt.convenientFacility}
			,
			#{apt.educationFacility})
		</foreach>
		ON DUPLICATE KEY UPDATE
		codeGarbage = values(codeGarbage), aptdEcnt =
		values(aptdEcnt), aptdPcnt = values(aptdPcnt), aptdPcntu =
		values(aptdPcntu), codeNet = values(codeNet), aptdCccnt =
		values(aptdCccnt),
		welfareFacility =
		values(welfareFacility),
		aptdWtimebus = values(aptdWtimebus),
		subwayLine = values(subwayLine),
		subwayStation =
		values(subwayStation), aptdWtimesub =
		values(aptdWtimesub), convenientFacility = values(convenientFacility),
		educationFacility =
		values(educationFacility)
	</insert>

	<insert id="insertAptDeal">
		insert into aptdeal(dealCode, dealAmount, buildYear, dealYear,
		dongCode,
		aptName, dealMonth, dealDay, dealArea,
		jibun, floor,
		cancelDealType, cancelDealDay,
		reqGbn, redealerLawdnm)
		VALUES
		<foreach collection="aptDealList" item="apt" separator=",">
			(
			#{apt.dealCode}, #{apt.dealAmount}, #{apt.buildYear},
			#{apt.dealYear},
			#{apt.dongCode},
			#{apt.aptName}, #{apt.dealMonth},
			#{apt.dealDay},
			#{apt.dealArea}, #{apt.jibun},
			#{apt.floor},
			#{apt.cancelDealType},
			#{apt.cancelDealDay}
			,
			#{apt.reqGbn},
			#{apt.redealerLawdnm})
		</foreach>
	</insert>
</mapper>