<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.ssafy.happyhouse.map.model.mapper.MapMapper">

	<select id="selectCntInSido" parameterType="string"
		resultType="hashmap">
		select count(*)
		totalCnt, sum(aptdaCnt) aptCnt
		from apt join
		aptinfo using(aptcode)
		where left(dongcode, 2) = #{sido}
	</select>

	<select id="selectCntInGugun" parameterType="string"
		resultType="hashmap">
		select count(*)
		totalCnt, sum(aptdaCnt) aptCnt
		from apt join
		aptinfo using(aptcode)
		where left(dongcode, 5) = #{gugun}
	</select>

	<select id="selectCntInDong" parameterType="string"
		resultType="hashmap">
		select count(*)
		totalCnt, sum(aptdaCnt) aptCnt
		from apt join
		aptinfo using(aptcode)
		where left(dongcode, 8) = #{dong}
	</select>

	<select id="selectAptInDong" parameterType="string"
		resultType="apt">
		select
		aptCode, aptName, sidoName, gugunName, dongName,
		leeName, dongCode, aptAddr,
		codeSaleNm, codeHeatNm, aptTarea,
		aptDongCnt, aptdaCnt, aptTel,
		aptFax, aptUrl, codeAptNm, doroJuso,
		hoCnt, codeMgrNm, codeHallNm,
		aptUsedate, aptMarea, aptMparea_60,
		aptMparea_85, aptMparea_135,
		aptMparea_136, privArea, codeGarbage,
		aptdEcnt, aptdPcnt, aptdPcntu,
		codeNet, aptdCccnt, welfareFacility,
		aptdWtimebus, subwayLine,
		subwayStation, aptdWtimesub,
		convenientFacility, educationFacility
		from apt join aptinfo
		using(aptCode) join aptdetail
		using(aptCode)
		where dongCode = #{dong}
		order by aptName
	</select>

	<select id="selectAllApt" resultType="apt">
		select
		aptCode, aptName,
		sidoName, gugunName, dongName, leeName, dongCode, aptAddr,
		codeSaleNm,
		codeHeatNm, aptTarea, aptDongCnt, aptdaCnt, aptTel,
		aptFax, aptUrl,
		codeAptNm, doroJuso, hoCnt, codeMgrNm, codeHallNm,
		aptUsedate,
		aptMarea, aptMparea_60, aptMparea_85, aptMparea_135,
		aptMparea_136,
		privArea, codeGarbage, aptdEcnt, aptdPcnt, aptdPcntu,
		codeNet,
		aptdCccnt, welfareFacility, aptdWtimebus, subwayLine,
		subwayStation,
		aptdWtimesub, convenientFacility, educationFacility
		from apt join
		aptinfo using(aptCode) join aptdetail
		using(aptCode)
		order by aptName
	</select>

	<select id="selectSido" resultType="hashmap">
		select left(dongCode, 2)
		code, sidoName name, round(avg(dealAmount/dealArea)) areaAvg,
		round(avg(dealAmount))
		amtAvg from aptdeal a join
		sidocode s on
		left(dongCode, 2) = s.sidoCode
		group by left(dongCode, 2) order by code
	</select>

	<select id="selectGugunInSido" parameterType="string"
		resultType="hashmap">
		select left(dongCode, 5) code, gugunName name,
		round(avg(dealAmount/dealArea)) areaAvg, round(avg(dealAmount)) amtAvg
		from aptdeal
		a join guguncode s on left(dongCode, 5) = s.gugunCode
		group by
		left(dongCode, 5) having left(code, 2) = #{sido} order by code
	</select>

	<select id="selectDongInGugun" parameterType="string"
		resultType="hashmap">
		select left(a.dongCode, 8) code, dongName name,
		round(avg(dealAmount/dealArea)) areaAvg, round(avg(dealAmount)) amtAvg
		from aptdeal a join dongcode d on left(a.dongCode, 8) =
		left(d.dongCode, 8) group by left(d.dongCode, 8) having left(code, 5)
		= #{gugun} order by code
	</select>

</mapper>